html{
  width: 1440px;
  height: 723px;
  background-image: linear-gradient(#ff8b19, white);
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-left: auto;
  font-family: ReservoirGrunge;
  text-align: center;
}

textarea{
    width: 500px;
    height: 200px;
    font-size: 12px;
    color: white;
    background: transparent;
    letter-spacing: 1px;
    padding: 10px;
    line-height: 1.5;
    position: center;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

catchphrase{
  width: 500px;
  height: 50px;
  font-size: 24px;
  color: white;
  background: transparent;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  line-height: 1.5;
  position: center;
  border: none;
  display: block;
  margin-left: 32%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 40%;
  overflow-x: hidden;
  padding-top: 20px;
}

div{
  margin-bottom: 2%
}

label{
  color: white;
}
